
.user_header{
  display: flex;
  flex-direction: row;
  height: 90vh;
  background-color: #F7F7F7;

  .user_summary {
    font-family: Garamond, serif;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    margin-top: 17.5vh;
    min-width: 60%;
    text-align: left;
    h1 {
      font-size: 650%;
    }

    h3 {
      color: rgb(150, 150, 150);
    }
    h5 {
      line-height: 1.2;
    }

    button {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgb(150, 150, 150);
      color:#969696;
      &:hover {
        color: #F7F7F7;
        border: 1px solid #F7F7F7;
        background-color: #191919;
      }
    }
  }
  .image-box {
    min-width: 40%;
    align-self: center;
    .user_resume {
      top: 0;
      right: 0;
      height:100%;
      position: absolute;
      width:40%;
      z-index: 0;
      opacity: 0.9;
      filter: invert(1);
      }
    
    .user_resume:hover {
      z-index: 3;
    }
    .user_photo {
      justify-self: center;
      align-self: center;
      position: relative;
      z-index: 2;
    }
  }
}

.head-form {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Garamond, serif;

  .form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    min-height: 80vh;
    border: 3px solid #191919;
    border-radius: 5px;
    .form-control {
      min-width: 60vw;
    }
  }

  button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(150, 150, 150);
    color:#969696;
    &:hover {
      color: #F7F7F7;
      border: 1px solid #F7F7F7;
      background-color: #191919;
    }
  }
}

// ------------------------------------------------------------------------------------------------------------
.body {
  margin-bottom: 5vh;
  .body-content {
    font-family: Garamond, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F7F7F7;
    margin-top: 5vh;
    padding: 2vh;
    height: auto;
    
    .info-box {
      max-width: 30%;
      min-width: 30%;
      margin-top: 10vh;
      
      border: 1px solid #969696;
      border-top: none;
      
      
      h2 {
        background-color: #F7F7F7;;
        margin-top: -5vh;
        align-self: center;
      }
      h4 {
        font-size: x-large;
        min-height: 40vh;
        text-align: left;
        margin: 3%;
        padding-right: 5%;
        padding-left: 5%;
      }
    }
    
  }
  button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(150, 150, 150);
    color:#969696;
    &:hover {
      color: #F7F7F7;
      border: 1px solid #F7F7F7;
      background-color: #191919;
    }
  }
}

.body-form {
  position: relative;
  z-index: 10;
  background-color: #F7F7F7;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Garamond, serif;

  .form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    min-height: 90vh;
    border: 3px solid #191919;
    border-radius: 5px;
    .form-control {
      min-width: 60vw;
    }
  }

  button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(150, 150, 150);
    color:#969696;
    &:hover {
      color: #F7F7F7;
      border: 1px solid #F7F7F7;
      background-color: #191919;
    }
  }
}

// ------------------------------------------------------------------------------------------------------------

footer {
  padding: 2vh;
  font-family: Garamond, serif;
  color: #F7F7F7;
  background-color: #191919;
  bottom: 0;
  margin-bottom: -2vh;

  div {
    display: flex;
    justify-content: space-evenly;

    h5 {
      padding: 0.5em;
      border-bottom: 1px solid #F7F7F7;
    }
  }
  button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #F7F7F7;
    color:#F7F7F7;

    &:hover {
      color: #191919;
      border: 1px solid #191919;
      background-color: #F7F7F7;
    }
  }
}

.footer-form {
  position: relative;
  z-index: 10;
  background-color: #191919;
  color: #F7F7F7;
  min-height: 30vh;
  max-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Garamond, serif;

  .form-box {
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    min-height: 20vh;
    .form-control {
      min-width: 60vw;
    }
  }

  button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #F7F7F7;
    color:#F7F7F7;

    &:hover {
      color: #191919;
      border: 1px solid #191919;
      background-color: #F7F7F7;
    }
  }
}