main.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: Garamond, serif;

  div.container-left {
    width: 50vw;
    margin-top: 15vw;
    padding: 2vw;

    form.search-form {
      width: 100%;

      div.search {
        width: 100%;
      }
    }

    div.newEmployee-container {
      margin-top: 15vw;

      .user-box {
        background-color:  #191919;
        font-family: Garamond, serif;
        margin: 2vh;
        margin-right: auto;
        margin-left: auto;
        border: 3px solid #F7F7F7;
        border-radius: 15px;
        width: 100%;
        height: 25vh;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #F7F7F7;
        @keyframes slideIn {
          0% {
            transform: translateY(+30%);
          }
          100% {
            transform: translateY(0);
          }
        }

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        &:hover {
          box-shadow: 8px 8px rgb(150, 150, 150);
          .options {
            align-self: center;
            opacity: 1;
            animation: 1s ease-in 0s 1 fadeIn;
            animation: 0.2s ease-out 0s 1 slideIn;
          }
          .user-information {
            display: none;
            visibility: hidden;
          }

        }
        .options {
          // visibility: hidden;
          opacity: 0;
          width: 60vw;
          height: auto;

          svg:hover {
            cursor: pointer;
          }

          Link {
            margin: 2vh;
          }
        }

        .user-information {
          text-align: right;
          min-width: 70%;
          margin-bottom: -7%;
          align-self: center;
          max-height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          visibility: visible;

          img {
            margin: auto;
            margin-left: 2vw;
            max-width: 40%;
            max-height: 40%;
          }

          div.user-details {
            padding-top: 5vw;
            padding-right: 4vw;
          }
          h4 {
            color: rgb(150, 150, 150);
          }
        }
      }
    }

    div.corner-image {
      margin-top: 10vw;
      position: sticky;
      left: 0;
      top: 0;

      img.corner-img {
        width: 40vw;
      }
    }
  }

  div.container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 70vw;

    img.typewriter-img {
      width: 40vw;
      position: absolute;
      top: 0;
      right: 0;
    }

    div.currentEmployee-container {
      width: 50vw;

      div.currentEmployee-title {
        position: sticky;
        top: 0;
        background-color: #F7F7F7;
        margin: 5vw;
        font-size: 3vw;
      }

      div.employees {
        padding-left: 8vw;
        color: #191919;


        div.employee-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding-left: 5vw;
          padding-right: 5vw;
          padding-top: 5vw;
          padding-bottom: 1vw;

          border-bottom: solid;
          border-width: 1px;
          border-color: #969696;

          div.employee-box-name {
            font-size: 3vw;
            margin-bottom: 1vw;
          }

          div.employee-actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
  
            a.employee-actions-link {
              font-size: 1.5vw;
              color: #336600;
            }
  
            button.delete-btn {
              background-color: #F7F7F7;
              border: none;
              outline: none;
              color: #336600;
              font-size: 1.5vw;
            }

            button.delete-btn:active {
              transform: translateY(2px);
            }
  
          }

          section.delete-confirmation div.delete-msg {
            font-size: 3vw;
          }

          div.delete-actions {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 1vw;

            button.delete-actions {
              background-color: #F7F7F7;
              border: none;
              outline: none;
              color: #336600;
              font-size: 1.5vw;
            }

            button.delete-actions:active {
              transform: translateY(2px);
            }

          }

        }
      }
    }

  }







}