body {
  background-color: black;
}

.jobs {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 30px;

  .create-jobs {
    width: 500px;
    height: 150px;
    display: flex;
    margin-left: 5vw;

    img.add-btn {
      width: 30px;
      height: 30px;
    }

    button.add-btn {
      height: 30px;
      background-color: black;
      color: #00FFFF;
      border: none;
    }

    form.create-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 400px;
      height: 150px;
      margin-left: 20px;

      label.form-line-title {
        display: flex;
        flex-direction: row;
        justify-content: end;
        text-align: end;
        width: 400px;
        line-height: 25px;
        margin-bottom: 10px;

        input.form-line-input {
          height: 25px;
          width: 400px;
          margin-left: 10px;
          background-color: black;
          color: aliceblue;
          outline: 0;
          border-width: 0 0 1px;
          border-color: aliceblue;
        }
      
      }
    }

    div.form-submit {
      width: 400px;
      display: flex;
      flex-direction: row;
      justify-content: center;
          
      img.save-btn {
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
  
      button.save-btn {
        height: 30px;
        background-color: black;
        color: aliceblue;
        border: none;
      }

    }
    
  }

  .show-jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100vw;

    .show-jobs-title {
      padding-left: 5vw
    }

    .current-jobs {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;

      .job-card {
        width: 90vw;
        margin: 2vw;
        padding: 2vw;
        background-color:	#181818;
        border-radius: 3%;    

        .job-info {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin: 10px;
        }

        section.job-actions {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
  
      }

      img.edit-btn {
        width: 20px;
        height: 20px;
        margin-top: 3px;
        margin-left: 7px;
        margin-right: 7px;
      }
  
      img.delete-btn {
        width: 25px;
        height: 25px;
        margin-left: 7px;
        margin-right: 5px;

      }

      img.reference-btn {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }

      button.reference-btn {
        background-color:	#181818;
        color: #00FFFF;
        border: none;
      }

    }

    form.edit-form {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      margin-right: 5px;

      div.edit-line {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 1vw;

        div.edit-line-lable {
          width: 12vw;
        }

        input.edit-line-input {
          background-color:	#181818;
          color: aliceblue;
          outline: 0;
          border-width: 0 0 1px;
          border-color: aliceblue;
          width: 40vw;
        }
      }

      div.edit-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button.edit-actions {
          background-color:	#181818;
          color: #00FFFF;
          border: none;
        }
      }
      
    }

  }
}