


.user-box {
  font-family: Garamond, serif;
  margin: 2vh;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #191919;
  border-radius: 3px;
  width: 60vw;
  height: 25vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @keyframes slideIn {
    0% {
      transform: translateY(+30%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &:hover {
    .options {
      align-self: center;
      opacity: 1;
      animation: 1s ease-in 0s 1 fadeIn;
      animation: 0.2s ease-out 0s 1 slideIn;
    }
    .user-information {
      display: none;
      visibility: hidden;
    }

  }
  .options {
    // visibility: hidden;
    opacity: 0;
    width: 60vw;
    height: auto;

    svg:hover {
      cursor: pointer;
    }

    Link {
      margin: 2vh;
    }
  }

  .user-information {
    min-width: 70%;
    margin-bottom: -7%;
    align-self: center;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;

    img {
      margin: auto;
      margin-left: 0;
      max-width: 40%;
      max-height: 40%;
    }
    h4 {
      color: rgb(150, 150, 150);
    }
  }
}