.job-box {

  .reference-form {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;

    input {
      margin-left: auto;
      color: white;
      padding: 0.25em;
      width: 7%;
      background-color: #2675B8;
      border: 0px;
      border-radius: 15px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    div.reference-select {
      width: 70vw;
      display: flex;

      .select-title {
        width: 60%;
        font-size: 2.5vw;
        font-weight: bold;
      }

      select.select-box {
        border: 1px solid #d1d1d1;
        border-radius: 8px;
        background-color: #F7F7F7;
        width: 20vw;
        outline: none;
      }
    }

    div.reference-actions {
      display: flex;
      flex-direction: column;
      width: 10vw;
      align-items: flex-end;

      button.reference-actions {
        color: white;
        margin-bottom: 0.5vw;
        background-color: #3169F6;
        border: 0px;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        outline: none;
      }

    }

    label {
      width: 25vw;
      margin-left: 27.5vw;
    }
  }
}