.job-box {

  .reference-form {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;

    input {
      margin-left: auto;
      color: white;
      padding: 0.25em;
      width: 7%;
      background-color: #2675B8;
      border: 0px;
      border-radius: 15px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    label {
      width: 25vw;
      margin-left: 27.5vw;
    }
  }
}