$cub: cubic-bezier(.73,.14,.4,1.58);
$step1: 0.2s;
$step2: 0.4s;
$delayClose1: 0.2s;
$delayClose2: 0.4s;
$totalAnim: $step1 + $step2;
$w: 16rem;
$h: 3rem;
$borderW: 0.3rem;

.form-label {
  font-family: Garamond, serif;
  font-size: x-large;
}

.form-control {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Garamond, serif;
}
.search {
  font-family: Garamond, serif;
  position: relative;
  width: $w * 2;
  height: $h;
  margin: auto;
  max-width: 100vw;

  &__border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $h;
    height: 100%;
    border: $borderW solid #191919;
    border-radius: 7.5rem;
    transform: translate(-50%, -50%);
    transition: width $step2 $delayClose2;
    
    #trigger:checked ~ & {
      transition: width $step2 $step1;
      width: 100%;
      
      &:after {
        width: 0;
        transition: width $step1 cubic-bezier(.42,-0.7,.62,1.25);
      }
    }

    &:after {
      content: " ";
      position: absolute;
      bottom: -1.9rem;
      right: -1.9rem;
      width: $h/2;
      height: $borderW;
      background: #191919;
      border-radius: $h/10;
      transform-origin: 100% 50%;
      transform: rotate(225deg) translateX(3rem);
      transition: width $step1 $delayClose2 + $step2;
    }
  }

  &__input {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    width: ($w * 1.85) - $h;
    height: $h;
    padding: $h*0.15 0 $h*0.15 $h*0.4;
    background: transparent;
    outline: none;
    border: none;
    font-size: $h*0.4;
    color: #191919;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s;
    
    #trigger:checked ~ & {
      opacity: 1;
      z-index: auto;
      transition: opacity 0.2s $totalAnim;
    }
  }

  &__checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    z-index: -10;
  }
  &__label-init {
    z-index: 2;
    position: absolute;
    top: 0;
    left: $w*0.41 * 2.2;
    width: $w*0.2125;
    height: $w*0.2;
    cursor: pointer;

    #trigger:checked ~ & {
      transform: scale(0);
    }
  }
  &__label-active {
    z-index: 3;
    position: absolute;
    top: $h/4;
    right: $h/4;
    width: $h/2;
    height: $h/2;
    cursor: pointer;
    transform: scale(0);
    
    #trigger:checked ~ & {
      transition: transform 0 $totalAnim;
      transform: scale(1);
    }
  }

  &__close {
    position: absolute;
    top: $h/4;
    right: $h/4;
    width: $h/2;
    height: $h/2;
    cursor: pointer;
    z-index: -1;

    #trigger:checked ~ & {
      z-index: auto;

      &:before {
        transform: rotate(-45deg);
        opacity: 1;
        transition: transform 0.2s $totalAnim $cub, opacity 0.1s $totalAnim;
      }
      &:after {
        transform: rotate(45deg);
        opacity: 1;
        transition: transform 0.2s ($totalAnim + $delayClose1) $cub, opacity 0.1s ($totalAnim + $delayClose1);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: $h/5;
      left: 0;
      width: 100%;
      height: $h/10;
      background: #191919;
      border-radius: 0.5rem;
      opacity: 0;
    }
    &:before {
      transform: rotate(-45deg) translateX(2rem);
      transition: transform 0.2s, opacity 0.1s 0.1s;
    }
    &:after {
      transform: rotate(45deg) translateX(2rem);
      transition: transform 0.2s 0.2s, opacity 0.1s 0.3s;
    }
  }
}

.search__input {
  background-color: rgba(255, 255, 255, 0);
  background: none;
}