.home {
  font-family: Garamond, serif;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  height: 100vh;

  .text {
    max-width: 20vw;
    color: rgb(59, 59, 59);
  }
  .info {
    align-self: center;
    @keyframes slideInFromBottom1 {
      0% {
        transform: translateY(+2500%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes slideInFromBottom3 {
      0% {
        transform: translateY(+3000%);
      }
      100% {
        transform: translateY(0);
      }
    }

    @keyframes fadeInOpacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .scatter {
      opacity: 1;
	    animation: 3s ease-in 0s 1 fadeInOpacity;
      max-width: 20vw;
      min-width: 20vw;
      margin: auto;
    }
    h1 {
      font-size: 500%;
      animation: 2s ease-out 0s 1 slideInFromBottom1;
    }

    button{
      animation: 3.4s ease-out 0s 1 slideInFromBottom3;
      color: white;
      background: none;
      border: 2px solid;
      border-radius: 3px;
      line-height: 1;
      margin: 0.5em;
      padding: 1em 2em;
    }

    button:hover{
      color: black;
      background: white;
      border-color: black;
    }
  }

  .videoDiv {
    align-self: center;
    .videoTag {
      margin-right: -30vh;
      max-width: 90vw;
      max-height: 90vh;
      filter: saturate(120%);
      
    }
  }
  // .grow { transition: all .2s ease-in-out; }
  // .grow:hover { transform: scale(1.1); }
}
